.listHeros {
  width: 50%;
  max-width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: relative;
  border-radius: 10px;
}

.listHeros form {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.listHeros form button,
.listHeros form input {
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--text-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.listHeros form input {
  width: 80%;
  background-color: transparent;
  color: var(--text-2);
  padding: 10px;
}

.listHeros form button {
  width: 15%;
  background-color: var(--color-3);
}

.list {
  background: rgb(131, 131, 131);
  background: linear-gradient(
    90deg,
    rgba(131, 131, 131, 1) 12%,
    rgba(228, 228, 228, 1) 100%
  );
  border-radius: 10px;
}

@media (max-width: 480px) {
  .listHeros {
    max-height: 350px;
  }
}

@media (max-width: 350px) {
  .listHeros {
    max-height: 250px;
  }

  .listHeros input {
    padding: 5px 10px;
  }
}
