.modal {
  background: rgb(131, 131, 131);
  background: linear-gradient(
    90deg,
    rgba(131, 131, 131, 1) 12%,
    rgba(228, 228, 228, 1) 100%
  );
}

.boxModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.textModal h2 {
  font-family: var(--font-1);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.textModal ul li {
  list-style: none;
}

.buttonModal {
  background-color: var(--color-5);
}
