.container {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  background: rgb(131, 131, 131);
  background: linear-gradient(
    90deg,
    rgba(131, 131, 131, 1) 12%,
    rgba(228, 228, 228, 1) 100%
  );
  height: fit-content;
  /* max-height: 82vh; */
  border-radius: 10px;
}

.cardHero {
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.close {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 20px 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  z-index: 5;
}

.close:hover {
  background-color: var(--color-5);
  color: var(--color-3);
}

.header {
  background-color: var(--color-3);
  position: absolute;
  right: 10px;
}

.header strong {
  background-color: var(--color-3);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
  z-index: 5;
}

.boxImg {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.boxImg img {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

.boxImg img:hover {
  transform: scale(1.02);
}

.powerStats {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  margin-top: 10px;
}

.powerStats li {
  list-style: none;
  font-family: var(--font-1);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.powerStats li span {
  font-family: sans-serif;
  font-size: 0.5rem;
}

.nameHero {
  font-family: var(--font-1);
  padding: 10px;
}

.nameHero h2 {
  font-size: 1rem;
}

@media (max-width: 500px) {
  .cardHero {
    padding: 10px;
  }

  .close,
  .header strong {
    width: 40px;
    height: 40px;
  }

  .boxImg {
    height: 65%;
  }
}

@media (max-width: 350px) {
  .boxImg {
    height: 50%;
  }
}
