.container {
  width: 100%;
}

.header {
  margin: 2rem 20px 3rem 20px;
}

.header h1 {
  font-family: var(--font-1);
  color: var(--text-2);
}

.containerFight {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerFight strong {
  font-family: var(--font-1);
  font-size: 2rem;
}
